{
    "controls_information": {
        "pv_record_map": {
            {% set comma = joiner(",") %}
            {% if "H_MREL" in pv_records %}{{ comma() }}
            "H_MREL": {
                "type": "scalar",
                "read_only": false,
                "description": "Step-size for horizontal motor",
                "pv": "{{ h_mrel_pv | default(name ~ ':MREL') }}"
            }
            {% endif %}
            {% if "H_MREL_RBV" in pv_records %}{{ comma() }}
            "H_MREL_RBV": {
                "type": "scalar",
                "description": "Readback for horizontal motor step-size",
                "pv": "{{ h_mrel_rbv_pv | default(name ~ ':RPOS') }}"
            }
            {% endif %}
            {% if "H_POS" in pv_records %}{{ comma() }}
            "H_POS": {
                "type": "scalar",
                "description": "Position for horizontal motor",
                "pv": "{{ h_pos_pv | default(name ~ ':RCUM1') }}"
            }
            {% endif %}
            {% if "V_MREL" in pv_records %}{{ comma() }}
            "V_MREL": {
                "type": "scalar",
                "read_only": false,
                "description": "Step-size for vertical motor",
                "pv": "{{ v_mrel_pv | default(name ~ ':MREL') }}"
            }
            {% endif %}
            {% if "V_MREL_RBV" in pv_records %}{{ comma() }}
            "V_MREL_RBV": {
                "type": "scalar",
                "description": "Readback for the vertical motor step-size",
                "pv": "{{ v_mrel_rbv_pv | default(name ~ ':RPOS') }}"
            }
            {% endif %}
            {% if "POSBTN" in pv_records %}{{ comma() }}
            "POSBTN": {
                "type": "binary",
                "read_only": false,
                "description": "Trigger movement for the mirror",
                "pv": "{{ v_mrel_rbv_pv | default(name ~ ':POSBTN') }}"
            }
            {% endif %}
            {% if "V_POS" in pv_records %}{{ comma() }}
            "V_POS": {
                "type": "scalar",
                "description": "Position for vertical motor",
                "pv": "{{ v_pos_pv | default(name ~ ':RCUM3') }}"
            }
            {% endif %}
        },
        "step_max": {{ step_max | default(100.1) }},
        "default_step": {{ default_step | default(10.0) }}
    },
    "properties": {
        {%- set props = [] %}
        {%- do props.append('"name": "' ~ name ~ '"') %}
        {%- do props.append('"hardware_type": "Mirror"') %}
        {%- do props.append('"name_alias": "' ~ name_alias ~ '"') %}
        {%- do props.append('"machine_area": "' ~ machine_area ~ '"') %}
        {%- do props.append('"position": ' ~ position) %}
        {%- if "type" in properties %}
            {%- do props.append('"type": "' ~ properties["type"] ~ '"') %}
        {%- endif %}
        {%- if "horizontal_channel" in properties %}
            {%- do props.append('"horizontal_channel": "' ~ properties["horizontal_channel"] ~ '"') %}
        {%- endif %}
        {%- if "vertical_channel" in properties %}
            {%- do props.append('"vertical_channel": ' ~ (properties["vertical_channel"] | lower)) %}
        {%- endif %}
        {%- if "virtual_name" in properties %}
            {%- do props.append('"virtual_name": "' ~ properties["virtual_name"] ~ '"') %}
        {%- endif %}
        {{ props | join(',\n    ') }}

    }
}