{
    "controls_information": {
        "pv_record_map": {
            "ENERGYREADBACK": {
                "type": "statistical",
                "auto_buffer": false,
                "buffer_size": 10,
                "units": "uJ",
                "description": "Readback of the measured laser energy",
                "pv": "{{ energy_readback_pv | default(name ~ ':E_RB') }}"
            },
            "OVERRANGE": {
                "type": "binary",
                "description": "State of energy readback being over-range set in RANGESP",
                "pv": "{{ overrange_pv | default(name ~ ':OverRange_RB') }}"
            },
            "RANGESP": {
                "type": "state",
                "description": "Set the state range for energy readback",
                "states": {{ rangesp_states | default({
                    "micro20": 0,
                    "micro2": 1,
                    "nano200": 2,
                    "nano20": 3
                }) | tojson }},
                "read_only": false,
                "pv": "{{ rangesp_pv | default(name ~ ':Range_SP') }}"
            },
            "RUNSP": {
                "type": "binary",
                "description": "Enable/Disable the energy meter",
                "read_only": false,
                "pv": "{{ runsp_pv | default(name ~ ':Run_SP') }}"
            }
        }
    },
    "properties": {
        {%- set props = [] %}
        {%- do props.append('"hardware_type": "EnergyMeter"') %}
        {%- do props.append('"machine_area": "' ~ machine_area ~ '"') %}
        {%- do props.append('"name": "' ~ name ~ '"') %}
        {%- if name_alias is defined %}{% do props.append('"name_alias": "' ~ name_alias ~ '"') %}{% endif %}
        {%- if position is defined %}{% do props.append('"position": ' ~ position) %}{% endif %}
        {%- if calibration_factor is defined%}{%- do props.append('"calibration_factor": ' ~ calibration_factor) %}{% endif %}
        {{ props | join(',\n        ') }}
    }
}